<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Se Spala Azi?</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeSpalaAzi3.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container border-top" style="max-width: 800px;">
            <div class="d-flex justify-content-between align-items-center" style="font-size: 0.8rem;">
                <span>Informațiile au caracter informativ, dacă vrei să speli, nu te oprește nimeni 🤷</span>
                <span>
                    <a href="https://github.com/prelipceancristian/SeSpalaAzi" target="_blank" rel="noopener">
                        <i class="bi bi-github"></i>
                    </a>
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>