services:
  web:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      REDIS__HOST: redis
      REDIS__PORT: 6379
      TZ: Europe/Bucharest
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
